[submodule "Dockerfile/privoxy"]
	path = Dockerfile/privoxy
	url = https://github.com/docker-parasites/docker-privoxy.git
[submodule "Dockerfile/tor"]
	path = Dockerfile/tor
	url = https://github.com/docker-parasites/docker-tor.git
[submodule "Dockerfile/shadowsocks"]
	path = Dockerfile/shadowsocks
	url = https://github.com/docker-parasites/docker-shadowsocks-go.git
